:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --glass-theme: rgba(29, 28, 28, 0.473);
  --glass-theme-white: rgba(255, 255, 255, 0.2);
  --accent-color: rgb(242, 166, 193);
}

head {
  width: 100vw;
  height: 100dvh;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: 100dvh;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  background: url(/Assets/image.png) no-repeat;
  background-size:120%;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100dvh;
  background: var(--glass-theme);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  inset: 0.2rem;
  stroke-width: 100px;
  stroke: solid;
  -webkit-text-stroke-color: aqua;
  
}

.sidebar .logo-menu {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  padding: 1rem;
  background: var(--glass-theme);
  
}

.sidebar .logo-menu .toggle-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgb(24, 22, 22);
  font-size: 40px;
  border-radius: 10px;
  left: 90%;
  transform: translateX(-50%);
  color: var(--accent-color);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 2;
}

.sidebar .logo-menu .logo {
  font-size: 30px;
  color: var(--accent-color);
  pointer-events: none;

}

.sidebar .list {
  margin-top: 10px;
  backdrop-filter: blur(10px);
}

.list .list-item {
  
  list-style: none;
  width: 100%;
  height: 50px;
  background: var(--glass-theme-white);
  margin: 5px 0;
  line-height: 50px;
  border-radius: 10px;
  cursor: pointer;


}

.list .list-item a {
  
  font-size: 20px;
  color: var(--accent-color);
  text-align: center;
  display:flex;
  text-decoration: none; /* Remove underlines */
}

.list .list-item a i {
  color: var(--accent-color);
  min-width: 50px;
  height: 50px;
  line-height: 50px;
}



#cards {
  margin-left: 260px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover>.card::after {
  opacity: 1;
}

.card img {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
  overflow: hidden;
  justify-content: center;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: rgba(31, 30, 30, 0.63);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(3px);
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info>i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title>h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title>h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media(max-width: 1350px) {
  body {
    align-items: flex-start;
    overflow: auto;

  background-size:cover;
  background-position: center;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;

  background-size:cover;
  background-position: center;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image>i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info>i {
    font-size: 0.8em;
  }

  .card-info-title>h3 {
    font-size: 0.9em;
  }

  .card-info-title>h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}